<form method="POST" action="/profile/<%= locals.user.id %>/placesToGo/new">
  <div>
    <label for="name">name</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="image">image</label>
    <input type="text" name="image" id="image">
  </div>
  <div>
    <label for="whoWith">Who With?</label>
    <input type="whoWith" name="whoWith" id="whoWith">
  </div>
  <div>
    <label for="whyThoughts">Why? Thoughts?</label>
    <input type="whyThoughts" name="whyThoughts" id="whyThoughts">
  </div>

  <button class="button">Submit</button>
</form>
