<div class="container">
  <div class="row justify-content-center">
    <div class="col 4 col-sm 8">
<form method="POST" action="/profile/<%= user._id %>/places/new">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image">
  </div>
  <div>
    <label for="whoWith">Who With?</label>
    <input type="whoWith" name="whoWith" id="whoWith">
  </div>
  <div>
    <label for="whyThoughts">Why? Thoughts?</label>
    <input type="whyThoughts" name="whyThoughts" id="whyThoughts">
  </div>
  <div>
    <label for="status">Been or To Go?</label>
    <input type="radio" name="status" value="Been">Been
    <input type="radio" name="status" value="To Go">To Go
  </div>

  <button class="button btn-lg btn-primary">Submit</button>
</form>
</div>
</div>
</div>
