<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col 4 col-sm 8">
      <h1>Login</h1>

<form method="POST" action="/login">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="button">Login</button>
</form>

<p>Not a user? <a href="/register" class="button btn-sm btn-success">Register here</a></p>
</div>
</div>
</div>
