<div class="container">
  <div class="row justify-content-center">
    <div class="col">

<form method="POST" action="/profile/<%= user._id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required value="<%= user.username %>">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required value="<%= user.email %>">
  </div>
  <div>
    <label for="image">image</label>
    <input type="text" name="image" id="image">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
  </div>
  <div class="mx-auto" style="width: 200px;">
  <button class="button btn-lg btn-primary">Submit!</button>
</div>
</form>
</div>
</div>
</div>
