<%const User = require('../models/user');%>

<h1>Profile</h1>

<section class="placesBeen">
  <h2>Places I Have Been</h2>
  <ul>
    <li>
  <% user.placesBeen.forEach(() => { %>
    <p><%= placesBeen.content %></p>
  <% }) %>
</li>
</ul>
</section>

<section class="placesToGo">
  <h2>Places I Want to Go</h2>
  <% user.placesToGo.forEach(() => { %>
    <p><%= placesToGo.content %></p>
  <% }) %>
</section>
