<h1>Profile</h1>

<section class="placesBeen">
  <h2>Places I Have Been</h2>
  <% users.placesBeen.forEach((user) => { %>
    <p><%= user.placesBeen %></p>
  <% }) %>
  <a href="/profile/placesBeen/new" class="button">New</a>
  <a href="/profile/placesBeen/delete" class="button">Delete</a>
</section>

<section class="placesToGo">
  <h2>Places I Want to Go</h2>
  <% user.placesToGo.forEach((user) => { %>
    <p><%= user.placesToGo %></p>
  <% }) %>
  <a href="/profile/placesToGo/new" class="button">New</a>
  <a href="/profile/placesBeen/delete" class="button">Delete</a>
</section>
