<div class="container">
<div class='row'>
<div class="col">
<div class="mx-auto" style="width: 200px;">
<h1>My details</h1>

<img src="<%= user.image %>" alt="..." class="rounded-circle">
<h3>Email: <%= user.email %></h3>

<h3>Username: <%= user.username %></h3>

<a href="/profile/<%= locals.user.id %>/edit" class="btn btn-lg btn-primary">Edit!</a>
</div>
</div>
</div>
</div>
