body {
  background-color: #ECCAD2;
  font-family: 'Rochester', sans-serif;
}

h1 {
  color: royalBlue;
  text-align: center;
  font-size: 35px;
  margin: 20px;
  position: relative;
}

h2 {
  color: white;
  text-align: center;
  font-style: bold;
  font-size: 30px;
  font-style: italic;
  position: relative;
}

h3 {
  color: royalBlue;
  text-align: center;
  font-size: 20px;
  position: relative;
}

span {
  color: 	white;
  font-style: italic;
  text-align: center;
}

.placesBeen {
  margin-left: 100px;
  text-align: center;
  font-style: bold;
  font-size: 30px;
  font-style: italic;
  font-family: 'Rochester', cursive;
}

.placesToGo {
  margin-right: -100px;
  text-align: center;
  font-style: bold;
  font-size: 30px;
  font-style: italic;
  font-family: 'Rochester', cursive;
}

ul {
  list-style-type: none;
  font-size: 30px;
}

a {
  position: relative;
  margin: 30px;
}

.userImage {
  height:200px;
  width:200px;
  position:relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding: 10px;
  margin-bottom: 60px;
  transform: translate(-50%, -50%);
}

.placeImage {
  height:300px;
  width:300px;
  position: relative;
  padding: 20px;
  margin-top: 60px;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
